:root {
    /* colors */
    --clr-primary: #C5E4E7;
    --clr-secondary: #00686c;
    --clr-tertiary: #26C1AD;
    --clr-nt-white: #FFFFFF;
    --clr-nt-light: #F2F9FB;
    /* fonts */
    --ff-primary: 'Montserrat', sans-serif;
    /* Font size */
    --fs-h1: 3.31rem;
    --fs-h2: 1.688rem;
    --fs-h3: 1.25rem;
    --fs-p: 1rem;
    /* font weight */
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    /* letter spacing */
    --ls-h1: 0.084em;
    --ls-h2: 0.07em;
    /* border radius */
    --br-1: 1.875rem;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Global styles */
body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-500);
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-height: 100dvh;
}


/* header */
header h1 {
    font-size: clamp(1rem, 8vw, var(--fs-h1));
    font-weight: var(--fw-700);
    text-align: center;
    margin-top: clamp(2rem, 15vw, 4rem);
    margin-bottom: 0.875rem;
    letter-spacing: 5.25px;
}

header h2 {
    font-size: clamp(1rem, 6vw, var(--fs-h2));
    text-align: center;
    letter-spacing: var(--ls-h2);
    margin-bottom: 3rem;
}

/* main */

main {
    flex:1
}
main .calculator {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--clr-nt-white);
    box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--br-1);
    width: clamp(150px, 90vw, 1100px);
    margin-bottom: 4rem;
}

main #form {
    justify-self: center;
}

#form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 768px) {
    #form {
        flex-direction: column;
    }
}

#form label {
    font-size: clamp(0.7rem, 4vw, var(--fs-p));
}

#form .input-container {
    display: flex;
    align-items: center;
}

#form input {
    text-align: center;
    width: 4rem;
    height: 3rem;
    font-size: var(--fs-h3);
    border: 1px solid var(--clr-tertiary);
    border-radius: 0.5rem;
    margin: 0 0.5rem;
}

#form button {
    width: 6rem;
    height: 3rem;
    font-size: var(--fs-p);
    border: none;
    border-radius: 0.5rem;
    background-color: var(--clr-tertiary);
    color: var(--clr-nt-white);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#form button:hover {
    background-color: var(--clr-secondary);
}

#tableContainer {
    margin-top: 1rem;
    font-size: var(--fs-p);
    overflow-x: auto;
}


th {
    background-color: var(--clr-nt-light);
    color: var(--clr-secondary);
    font-weight: var(--fw-600);
    padding: 0.5rem;;
}

td {
    padding: 0.3rem 0.5rem;
}

tr:nth-child(odd) {
    background-color: #f9f9f9;
  }


/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3rem;
    background-color: var(--clr-nt-light);
    margin-top: auto;
    width: 100%;
}

footer a {
    color: var(--clr-tertiary);
    font-weight: var(--fw-600);
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}